.btn{
    margin-left: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn:hover{
    background-color: white;
    
}
.btn1{
    
    margin-left: 450px;
}
